
body {
    font-family: sans-serif;
    background-color: #f4f8fb;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.logo {
    height: 50px;
}
main {
    padding: 1rem;
}
